
-- Amenities Master Table
create table public.amenities_master (
  id uuid default gen_random_uuid() primary key,
  name text not null unique,
  category text not null, -- 'Power', 'Safety', 'Entertainment', 'Comfort', 'Kitchen', 'Outdoor', 'Other'
  sort_rank integer default 100, -- 1=Decision Trigger, 2=Differentiator, 3=Basic
  icon_name text -- Lucide icon name
);

-- Property Amenities (Junction)
create table public.property_amenities (
  property_id text references public.properties(property_id) on delete cascade,
  amenity_id uuid references public.amenities_master(id) on delete cascade,
  is_verified boolean default true,
  primary key (property_id, amenity_id)
);

-- RLS
alter table public.amenities_master enable row level security;
alter table public.property_amenities enable row level security;

create policy \
Public
read
amenities_master\ on public.amenities_master for select using (true);
create policy \Public
read
property_amenities\ on public.property_amenities for select using (true);

